@use "custom";

// IMPORT THE COMPONENTS 
@use 'components/buttons';
@use 'components/typography';


// IMPORT THE SECTIONS 
@use 'sections/navbar';
@use 'sections/footer';
@use 'sections/main-hero';

$primary: #84C9FB;


main>section {
    background-color: rgb(39, 40, 43);
    background-color: rgba(255, 255, 255, 0.05);
}

article>h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 1.3rem;
}

article>h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 1.3rem;
}

/* Categorias */
section>div>div>a {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    z-index: 10;
}

div>h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 0rem;
}

article>p {
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
}

div>p {
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 0;
    overflow: wrap;
}

#opaque-wrapper {
    background-color:rgba(0,0,0,.5);
}
