@use "custom";

// IMPORT THE COMPONENTS 
@use 'components/buttons';
@use 'components/typography';


// IMPORT THE SECTIONS 
@use 'sections/navbar';
@use 'sections/footer';

// OUT-RELATED SECTIONS
@use 'sections/main-hero';
@use 'sections/main-sec2';
@use 'sections/main-categories';
@use 'sections/main-offers';
// INSIDE-RELATED SECTIONS
@use 'sections/inside-hero';
@use 'sections/inside-sec3';
@use 'sections/inside-sec4';
@use 'sections/inside-sec5';


$primary: #84C9FB;
$primary-inside: #FF5858;

section {
    background-color: rgb(39, 40, 43);
    background-color: rgba(255, 255, 255, 0.05);
}



section h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 0rem;
}

