@use "custom";

// IMPORT THE COMPONENTS
@use "components/buttons";
@use "components/typography";

// IMPORT THE SECTIONS
@use "sections/navbar";
@use "sections/footer";

$primary: #84c9fb;

.primary-button {
  background-color: $primary;
  font-family: Montserrat, sans-serif;
  color: white;
  border: none;
}

button {
  font-family: Montserrat, sans-serif;
  border-radius: 0.5rem; /* 8px */
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem; /* 12px */
  background: none;
  color: white;
}

.carousel-item {
  height: 350px;
  width: 100%;
}

.container-bg {
  background: #323336 !important;
}
.card-bg {
  background: #27282b !important;
}

#main {
  background: #27282b !important;
}

.container-slides {
  background: #323336 !important;
}
.carousel-item img {
  width: 80%;
  margin: auto;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 470px;
}

#carticon {
  height: 65px;
  width: 65px;
  padding-top: 12px;
  padding-left: 10px;
}

.carousel {
  font-family: "MedievalSharp", cursive;
}

.container-divisao {
  width: 100%;
  margin: 0px;
  /* margin-top: 5px; */
  height: 80px;
  /* margin-bottom: 5px; */
  background-color: black;
  padding: 3px;
}

#iframe {
  width: 600px;
}

/* REVIEWS */

.user {
  width: 250px;
  height: 150px;
}

.card-img-top {
  height: 150px;
}

.card {
  // width: 500px;

  text-align: center;
  background-color: black;
}
