@use "custom";

// IMPORT THE COMPONENTS 
@use 'components/buttons';
@use 'components/typography';


// IMPORT THE SECTIONS 
@use 'sections/navbar';
@use 'sections/footer';

$primary: #84C9FB;

body {
    background-color: #27282B;
    color: aliceblue;
    font-family: Roboto, sans-serif;
}



.primary-button {
    background-color: $primary;
    color: white;
}

main>section {
    background-color: rgb(39, 40, 43);
    background-color: rgba(255, 255, 255, 0.05);
}

article>h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 1.3rem;
}

article>h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 1.3rem;
}

/* Categorias */
section>div>div>a {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    z-index: 10;
}

div>h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 0rem;
}

article>p {
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
}

div>p {
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 0;
    overflow: wrap;
}

#opaque-wrapper {
    background-color:rgba(0,0,0,.5);
}

/* Compras */
.carousel-item {
    height: 470px;
  }
  
  .carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 470px;
  }
  
  #carticon {
    height: 65px;
    width: 65px;
    padding-top: 12px;
    padding-left: 10px;
  }
  
  .carousel {
    font-family: "MedievalSharp", cursive;
  }
  
  .container-divisao {
    width: 100%;
    margin: 0px;
    /* margin-top: 5px; */
    height: 80px;
    /* margin-bottom: 5px; */
    background-color: black;
    padding: 3px;
  }