@use '../custom' as *;

section.sec2 {
    gap: 1rem; /* 16px */
    padding-left: 3rem; /* 48px */
    padding-right: 3rem; /* 48px */
    padding-top: 0.75rem; /* 12px */
    padding-bottom: 0.75rem; /* 12px */
    margin-top: 1.25rem; /* 20px */
    margin-bottom: 1.25rem; /* 20px */
    width: 96%;
    >div:first-of-type {
        height: 100%;
        width: 90%;
        margin-top: 2.5rem; /* 40px */
    }
    >div:nth-child(2) {
        overflow: hidden;
        height: 10rem; /* 160px */
        width: 100%;
        background-image: url(../../public/section2.jpg);
        >img {
            object-fit: cover;
            width: 100%;
        }
    }
}