@use '../custom' as *;

section.categories-sec {
    gap: 2rem; /* 32px */
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    padding-top: 2rem; /* 32px */
    padding-bottom: 2rem; /* 32px */
    margin-top: 1.25rem; /* 20px */
    margin-bottom: 1.25rem; /* 20px */
    width: 96%;
    >div:first-of-type {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 1.25rem; /* 20px */
        gap: 1.25rem; /* 20px */ 
        >div {
            overflow: hidden;
            border-radius: 0.25rem; /* 4px */
            height: 9rem; /* 144px */
            position: relative;
            width: 100%;
            min-width: 13.75rem;
            >a {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                color: white;
            }
            >img {
                object-fit: cover;
                filter: brightness(0.5);
                width: 100%;
            }
        }
    }
}