@use '../custom' as *;

header.nav-bar {
    color: black;
    background-color: blanchedalmond;
    >a {
        font-weight: 100;
        color: rgba(0, 0, 0, 0.25);
        font-size: 2.25rem;
    }
    >nav>ul {
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        font-size: 1rem;
    
    }
}
