<footer class="footer">
  <div>
    <a href="">Sobre nós</a>
    <a href="">Trabalhe conosco</a>
    <a href="">Divulgue seu produto</a>
    <a href="">Perguntas frequentes</a>
    <a href="">Métodos de pagamento</a>
    <a href="">Política de privacidade</a>
    <a href="">Mapa do site</a>
    <a href="">Termos de uso</a>
  </div>
  <div>
    <p>© 2021-2022 insideOUT, Todos Direitos Reservados</p>
  </div>
</footer>