<header class="nav-bar container-fluid shadow mx-auto d-flex justify-content-between">
    <a id="logo" href="/produto.html">
        inside<strong style="color: #84c9fb; font-weight: 700">OUT</strong>
    </a>
    <!-- <a href="" class="flex lg:hidden items-center justify-center">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
        />
        </svg>
    </a> -->
    <nav class="d-flex align-items-center">
        <ul class="d-flex align-items-center gap-4">
            <li>
                <button class="rounded-pill primary-button py-2 px-3">
                Meu Carrinho
                </button>
            </li>
            <li><a href="">Loja</a></li>
            <li><a href="">Promoções</a></li>
            <li><a href="">Categorias</a></li>
            <li><a href="/cadastro.html">Contato</a></li>
        </ul>
    </nav>
</header>