<header class="nav-bar container-fluid shadow mx-auto d-flex justify-content-between">
    <a id="logo" href="/">
        <strong style="color: #FF5858; font-weight: 700">inside</strong>OUT
    </a>
    <!-- <a href="" class="flex lg:hidden items-center justify-center">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
        />
        </svg>
    </a> -->
    <nav class="d-flex align-items-center">
        <ul class="d-flex align-items-center gap-4">
            <li>
                <button class="rounded-pill inside-button py-2 px-3">
                Minha Conta
                </button>
            </li>
            <li><a href="">Tags</a></li>
            <li><a href="">Postagens</a></li>
            <li><a href="">Eventos</a></li>
            <li><a href="/cadastro.html">Amigos</a></li>
        </ul>
    </nav>
</header>