    <div class="container">
        <form id="contact" action="" method="post">
            <h1>Cadastre-se na InsideOUT</h1>
            
            <div class="row">
                <!-- first column -->
                <div class="column">                        
                        <input type="text" placeholder="Nome completo *" name="name" >
                        <input type="email" placeholder="E-mail *" name="email">
                        <input type="password" placeholder="Sua senha *" name="email" >
                        <input type="password" placeholder="Confirme Sua senha *" name="email" >
                        <input type="text" placeholder="Data de nascimento *" name="date" onfocus="(this.type = 'date')">
                    <!-- adding all country code list -->
                        <input type="text" placeholder="Número de telefone *" name="telefone" id="phone" required autofocus>
                </div>
                <!-- second column -->
                <div class="column">
                        <p>Qual o seu gênero?</p>
                        <div class="radio">
                            <input type="radio" id="male" name="gender" required>
                            <label for="male">Masculino</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="female" name="gender" required>
                            <label for="female">Feminino</label>
                        </div>
                        <label for="cpf">CPF</label>
                        
                        <input type="text" placeholder="Digite aqui seu CPF, somente os números *" name="cpf">
                            
                        
                        <p>Foto</p>
                        <input type="file" id="file" required>
                </div>
            </div>
            <!-- submit button -->
                <button type="submit" id="button">Cadastrar</button>
        </form>
    </div>
 
 
    

