<nav class="d-flex container-fluid w-100 my-3 py-2 px-20 bg-black">
  <div class="">
    TESTE Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic
    labore earum ab, veritatis laboriosam in tempora nobis rerum,
    perferendis maxime quam at commodi est harum sit, itaque vero sunt
    assumenda!
  </div>
</nav>
    
      
      </div>
    </section>

    <div class="wrapper">
      <div class="title">Cadastre-se na InsideOUT</div>
      <div class="form">
        <div class="input-field">
          <label>Nome Completo</label>
          <input type="text" class="input">
        </div>
        <div class="input-field">
          <label>Nome de Usuário</label>
          <input type="text" class="input" placeholder="exemplo.335">
        </div>
        <div class="input-field">
          <label>Senha</label>
          <input type="password" class="input">
        </div>
        <div class="input-field">
          <label>Confirme a Senha</label>
          <input type="password" class="input">
        </div>
        <div class="input-field">
          <label>Gênero</label>
          <div class="custom-select">
            <select>
              <option value="default" default  >Selecionar</option>
              <option value="">Masculino</option>
              <option value="">Feminino</option>
              <option value="">Outros</option>
            </select>
          </div>
        </div>
        <div class="input-field">
          <label>Email</label>
          <input type="email" class="input">
        </div>
        <div class="input-field">
          <label>Endereço Completo</label>
          <textarea class="textarea" placeholder="Avenida Bahia, 304, ap 502, Bloco A"></textarea>
        </div>
        <div class="input-field terms"></div>
        <label class="check">
          <input type="checkbox"> Concordo com os Termos e Condições          
        </label>  
        <label class="check">
          <input type="checkbox"> Aceito receber notícias e promoções da InsideOUT      
        </label>          
        <button class="btn-cadastrar">Criar seu cadastro</button>              
      </div>      
    </div> 
  </body>
</html>
