<section>
    <div class="form-container">
        <div class="inner">
            <form action="/cadastro" method="post">
                <h2>Cadastre-se na Inside<span>OUT</span></h2>
                <div class="form-group">
                    <div class="form-wrapper">
                        <input name="nome" id="nome" type="text" class="form-control" placeholder="Nome">
                    </div>
                    <div class="form-wrapper">
                        <input name="classe" id="classe" type="text" class="form-control" placeholder="Classe">
                    </div>
                </div>
                <div class="form-wrapper">
                    <input name="email" id="email" type="email" class="form-control" placeholder="E-mail">
                </div>
                <div class="form-wrapper">
                    <input name="senha" id="senha" type="password" class="form-control" placeholder="Senha">
                </div>
                <div class="form-wrapper">
                    <input id="confirmacao" type="password" class="form-control" placeholder="Confirme a senha">
                </div>
                <div class="form-wrapper">
                    <input name="endereco" id="endereco" type="text" placeholder="Endereço" class="form-control">
                </div>
                <div class="form-wrapper">
                    <input name="nascimento" id="nascimento" type="text" placeholder="Data de nascimento" class="form-control" name="date"
                        onfocus="(this.type = 'date')">
                </div>
                <div class="form-wrapper">
                    <input name="sexo" id="sexo" type="text" placeholder="Gênero (sinta-se livre como num RPG)" class="form-control">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Aceito os termos e condições de uso.
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Aceito receber notícias e promoções.
                        <span class="checkmark"></span>
                    </label>
                </div>
                <button>Cadastrar</button>
            </form>
        </div>
    </div>

</section>