<section>

        <div class="form-container">
            <div class="inner">
                <form action="">
                    <h2>Cadastre-se na Inside<span>OUT</span></h2>
                    <div class="form-group">
                        <div class="form-wrapper">

                            <input type="text" class="form-control" placeholder="Nome">
                        </div>
                        <div class="form-wrapper">

                            <input type="text" class="form-control" placeholder="Sobrenome">
                        </div>
                    </div>
                    <div class="form-wrapper">

                        <input type="text" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form-wrapper">

                        <input type="password" class="form-control" placeholder="Senha">
                    </div>
                    <div class="form-wrapper">

                        <input type="password" class="form-control" placeholder="Confirme a senha">
                    </div>
                    <div class="form-wrapper">

                        <input type="text" placeholder="CPF (somente numeros)" class="form-control">
                    </div>
                    <div class="form-wrapper">
                        <input type="text" placeholder="Data de nascimento" class="form-control" name="date"
                            onfocus="(this.type = 'date')">
                    </div>
                    <div class="form-wrapper">

                        <input type="text" placeholder="Telefone (somente números)" class="form-control">
                    </div>



                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Aceito os termos e condições de uso.
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Aceito receber notícias e promoções.
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <button>Cadastrar</button>
                </form>
            </div>
        </div>
    
</section>