<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body> 
          <div class="wrapper">
            <div class="title">Cadastre-se na Inside<span>Out</span></div>
            <div class="form">
              <div class="input-field">
                <label>Nome Completo</label>
                <input type="text" class="input">
              </div>
              <div class="input-field">
                <label>Nome de Usuário</label>
                <input type="text" class="input" placeholder="exemplo.335">
              </div>
              <div class="input-field">
                <label>Senha</label>
                <input type="password" class="input">
              </div>
              <div class="input-field">
                <label>Confirme a Senha</label>
                <input type="password" class="input">
              </div>
              <div class="input-field">
                <label>Gênero</label>
                <div class="custom-select">
                  <select>
                    <option value="default" default  >Selecionar</option>
                    <option value="">Masculino</option>
                    <option value="">Feminino</option>
                    <option value="">Outros</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <label>Email</label>
                <input type="email" class="input">
              </div>
              <div class="input-field">
                <label>Endereço Completo</label>
                <textarea class="textarea" placeholder="Avenida Bahia, 304, ap 502, Bloco A"></textarea>
              </div>
              <div class="input-field-terms"></div>
              <label class="check">
                <input type="checkbox"> Concordo com os Termos e Condições          
              </label>  
              <label class="check">
                <input type="checkbox"> Aceito receber notícias e promoções da InsideOUT      
              </label>
              <div class="btns">          
              <button class="btn-cadastrar">Cadastrar-se</button>              
              <button class="btn-login">Limpar</button>  
            </div>            
            </div>      
          </div> 
        </body>
      </html>
      
    
</body>
</html>