<section class="clean-block clean-cart mb-5 shadow-lg">
        <div class="content">
            <div class="row g-0">
                <div class="col-md-12 col-lg-8">
                    <div class="items">
                        <div class="product">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-md-3">
                                    <div class="product-image"><img class="img-fluid d-block mx-auto image" src="/img/offer1.jpg"></div>
                                </div>
                                <div class="col-md-5 product-info"><a class="product-name" href="#">Produto I</a>
                                    <div class="product-specs">
                                        <div><span>Tipo:&nbsp;</span><span class="value">Categoria 1</span></div>
                                        <div><span>Descrição:&nbsp;</span><span class="value">Qui dolore esse anim occaecat culpa.</span></div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2 quantity"><label class="form-label d-none d-md-block" for="quantity">Quantidade</label><input type="number" id="number" class="form-control quantity-input" value="1"></div>
                                <div class="col-6 col-md-2 price"><span>R$200</span></div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-md-3">
                                    <div class="product-image"><img class="img-fluid d-block mx-auto image" src="/img/fizban.png"></div>
                                </div>
                                <div class="col-md-5 product-info"><a class="product-name" href="#">Produto II</a>
                                    <div class="product-specs">
                                        <div><span>Tipo:&nbsp;</span><span class="value">Categoria 2</span></div>
                                        <div><span>Descrição:&nbsp;</span><span class="value">Ipsum dolor duis quis do aliqua velit velit veniam incididunt do ex cillum veniam.</span></div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2 quantity"><label class="form-label d-none d-md-block" for="quantity">Quantidade</label><input type="number" id="number" class="form-control quantity-input" value="1"></div>
                                <div class="col-6 col-md-2 price"><span>R$150</span></div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-md-3">
                                    <div class="product-image"><img class="img-fluid d-block mx-auto image" src="/img/offer2.jpg"></div>
                                </div>
                                <div class="col-md-5 product-info"><a class="product-name" href="#">Produto III</a>
                                    <div class="product-specs">
                                        <div><span>Tipo:&nbsp;</span><span class="value">Categoria 3</span></div>
                                        <div><span>Descrição:&nbsp;</span><span class="value">Consectetur aliquip nostrud fugiat aliqua officia officia enim.</span></div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2 quantity"><label class="form-label d-none d-md-block" for="quantity">Quantidade</label><input type="number" id="number" class="form-control quantity-input" value="1"></div>
                                <div class="col-6 col-md-2 price"><span>R$90</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="summary">
                        <h3>Resumo</h3>
                        <h4><span class="text">Subtotal</span><span class="price">$360</span></h4>
                        <h4><span class="text">Desconto</span><span class="price">$20</span></h4>
                        <h4><span class="text">Frete</span><span class="price">$20</span></h4>
                        <h4><span class="text">Total</span><span class="price">$360</span></h4><button class="btn btn-primary btn-lg d-block w-100" type="button">Finalizar Compra</button>
                    </div>
                </div>
            </div>
        </div>
</section>