	<section id="cart_items">
		<div class="container" id="checkout-container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			
			<div class="checkout-options">				
			</div><!--/checkout-options-->

			<div class="register-req">
				<p>Por favor, confira o seu carrinho antes de efetuar a compra.</p>
			</div><!--/register-req-->

			
			<div class="review-payment">
				<!-- <h2>Revisar e Pagamento</h2> -->
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Produto</td>
							<td class="description"></td>
							<td class="price">Preço</td>
							<td class="quantity">Quantidade</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/shop/product4.jpg" alt="" class="foto-checkout"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">TORMENTA 20</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>$59</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$59</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/shop/product2.jpg" alt="" class="foto-checkout"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">PATHFINDER</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>$59</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$59</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/shop/product6.jpg" alt="" class="foto-checkout"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">TORMENTA RPG</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>$59</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$59</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Carrinho Sub Total</td>
										<td>$59</td>
									</tr>
									<tr>
										<td>Taxa</td>
										<td>$2</td>
									</tr>
									<tr class="shipping-cost">
										<td>Custo do frete</td>
										<td>Grátis</td>										
									</tr>
									<tr>
										<td>Total</td>
										<td><span id="price">$61</span></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="payment-options">
				<div>
					<span>
						<label><input type="checkbox"> Transferência Bancária</label>
					</span>
					<span>
						<label><input type="checkbox"> Cartão de Crédito ou Débito</label>
					</span>
					<span>
						<label><input type="checkbox"> Cryptocurrency</label>
					</span>
				</div>
					<div id="btn-comprar">
					<a href="#">Comprar</a>
					</div>
				</div>
			</div>
		</div>
	</section>