<nav class="d-flex container-fluid w-100 my-3 py-2 px-20 bg-black">
  <div class="">
    TESTE Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic
    labore earum ab, veritatis laboriosam in tempora nobis rerum,
    perferendis maxime quam at commodi est harum sit, itaque vero sunt
    assumenda!
  </div>
</nav>
<main>
  <section
    class="hero-sec container-fluid shadow align-items-center justify-content-between d-flex py-3 my-3 mx-auto w-95">
    <div class="mx-auto">
      <article class="lg:text-left">
        <h1>Explore um novo mundo dentro de sua casa</h1>
        <!--             <div
            class="bg-c2 -mt-2 bg-cover h-48 block lg:hidden shadow-md w-full my-5"
          ></div> -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequatur aliquam voluptatibus perferendis autem eligendi
          voluptate quam id ex nemo, repellat, officia quibusdam soluta
          consectetur ut nam animi magni? Nobis, laborum?
        </p>
        <div class="d-flex gap-2">
          <button class="primary-button mr-2">Ir para a loja</button>
          <button class="border border-white">Cadastrar-se</button>
        </div>
      </article>
    </div>
    <div class="shadow"></div>
  </section>
  <section
    class="offers-sec container-fluid shadow align-items-center justify-content-between d-flex flex-column mx-auto">
    <h2 class="text-center">Ofertas da Semana</h2>
    <div class="">
      <div class="shadow">
        <div class="container mx-auto"></div>
      </div>
      <div class="shadow">
        <div id="opaque-wrapper" class="shadow-md w-full mt-2 h-12"></div>
        <div class="whitespace-normal text-center text-white h-48 -mt-10 break-all z-50">
          <div>
            texto de um trem doido demais que surpreendentemente tem 6 linha
          </div>
        </div>
      </div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <a href=""><img src="/img/chevron.svg" alt="Ver mais" /></a>
    </div>
  </section>
  <section class="sec2 container-fluid shadow align-items-center justify-content-between d-flex flex-column mx-auto">
    <div class="">
      <article class="text-center">
        <h2 class="mb-2">
          Conheça a <strong>inside</strong>, nossa comunidade de cultura
          nerd!
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequatur aliquam voluptatibus perferendis autem eligendi
          voluptate quam id ex nemo, repellat, officia quibusdam soluta
          consectetur ut nam animi magni? Nobis, laborum?
        </p>
      </article>
    </div>
    <div class="shadow">
      <img class="object-cover w-full" src="/img/section2.jpg" alt="Banner de Heróis" />
    </div>
    <div class="my-2">
      <a href="/blog1.html">
        <button class="primary-button">
          Go <strong>inside</strong>
        </button></a>
    </div>
  </section>
  <section
    class="categories-sec container-fluid shadow align-items-center justify-content-between d-flex flex-column mx-auto">
    <h2 class="text-center">Categorias</h2>
    <div class="">
      <div class="shadow">
        <a href="" class="">Categoria</a>
        <img class="" src="/img/category1.jpg" alt="Categoria" />
      </div>
      <div class="shadow">
        <a href="" class="">Categoria</a>
        <img class="" src="/img/category2.jpg" alt="Categoria" />
      </div>
      <div class="shadow">
        <a href="" class="">Categoria</a>
        <img class="w-full brightness-50" src="/img/category3.jpg" alt="Categoria" />
      </div>
      <div class="shadow">
        <a href="" class="">Categoria</a>
        <img class="" src="/img/category4.jpg" alt="Categoria" />
      </div>
      <div class="shadow">
        <a href="" class="">Categoria</a>
        <img class="" src="/img/category5.jpg" alt="Categoria" />
      </div>
      <div class="shadow">
        <a href="" class="">Categoria</a>
        <img class="" src="/img/category6.jpg" alt="Categoria" />
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <a href=""><img src="/img/chevron.svg" alt="Ver mais" /></a>
    </div>
  </section>
</main>