	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1>Explore um novo mundo dentro da sua casa...</h1>
									<button type="button" class="btn btn-default" id="indexbanner-bttn">Blog insideOUT</button>								
								</div>
								<div class="col-sm-6">
									
									<img src="images/home/box/slide1.png" class="banner1 img-responsive" alt="" style="height:285px; padding-right: 15px"/>
									<!-- <img src="images/home/pricing.png"  class="pricing" alt="" /> -->
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6" id="banner-margin">
									<h1>Encontre o item que você precisa para a sua coleção</h1>
									
									<button type="button" class="btn btn-default" id="indexbanner-bttn">Nossa loja</button>
								</div>
								<div class="col-sm-6">
									<!-- banner img 430 x 335 px -->
									<img src="images/home/box/slide2.png" class="banner1 img-responsive" alt="" style="height:285px; padding-right: 15px;"/>
									<!-- <img src="images/home/pricing.png"  class="pricing" alt="" /> -->
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6" id="banner-margin">
									<h1>Encontre o item que você precisa para a sua coleção</h1>
									
									<button type="button" class="btn btn-default" id="indexbanner-bttn"> 11111</button>
								</div>
								<div class="col-sm-6">
									<!-- banner img 430 x 335 px -->
									<img src="images/home/box/slide2.png" class="banner1 img-responsive" alt="" style="height:285px; padding-right: 15px;"/>
									<!-- <img src="images/home/pricing.png"  class="pricing" alt="" /> -->
								</div>
							</div>
							
						</div>

					
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<!--category-products-->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					
				</div>
				<div>
				
				<div class="col-sm-12">
					<!--features_items-->
					<div class="features_items" >
						<h2 id="itens_destaque" class="title text-center" style="margin-top: 50px;">Itens em destaque</h2>
						<div style="margin-top: 45px;" ></div>
						
						
						<div class="col-sm-4"  >
							<div class="product-image-wrapper" >
								<div class="single-products">
										<div class="productinfo text-center" >
											<img src="images/home/box/box1.png" alt="" />
											
										</div>
										<!-- <div class="product-overlay">
											<div class="overlay-content">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
										</div> -->
								</div>
								
							</div>
						</div>

						
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/box/box2.png" alt="" />
											
										</div>
									
								</div>
								
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/box/box3.png" alt="" />
											
										</div>
										
								</div>
								
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/box/box4.png" alt="" />
											
										</div>
										
								</div>
								
							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/box/box5.png" alt="" />
											
										</div>
										
								</div>
								
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/box/box6.png" alt="" />
											
										</div>
										
								</div>
								
							</div>
						</div>
						
						<div class="col-sm-12">
							<div class="product-image-wrapper">
								<div>
								<div class="single-products">
										
								</div>
								<div id="container">
								<div class="productinfo text-center">
									<h2 style="font-weight: 300;">Conheça a <span style="font-weight:bold">Inside</span>, a nossa comunidade de cultura nerd</h2>
									<img src="images/home/box/bannerindex.png" alt="" style="height: 100px;"/>
									<button type="button" class="btn btn-default " id="goinside-bttn">Go inside</button>	
								</div>
							</div>
								</div>
								
							</div>
						</div>
						
					</div><!--features_items-->
					
					<!--category-tab-->
					<!-- <div class="category-tab">
						<div class="col-sm-12 " >
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1" data-toggle="tab">Pathfinder</a></li>
								<li><a href="#tab2" data-toggle="tab">D&D</a></li>
								<li><a href="#tab3" data-toggle="tab">Aventuras5E</a></li>
								
								
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tab1" >
								<div class="col-sm-3">
									<div class="product2-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center" >
												<img src="images/home/p1.jpg" alt="" />
												<h2>R$334</h2>
												<p class="overflow-clip"> Sandpoint, Light of the Lost Coast</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product2-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/p2.jpg" alt="" />
												<h2>R$295</h2>
												<p class="overflow-clip">Pathfinder: Livro Básico</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="product2-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/p3.jpg" alt="" />
												<h2>R$350</h2>
												<p class="overflow-clip">Pathfinder: Worldscape </p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="product2-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/p4.jpg" alt="" />
												<h2>R$135</h2>
												<p class="overflow-clip">Pathfinder: Bestiário </p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>
								
								
							</div>
							
							<div class="tab-pane fade" id="tab2" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>R$171</h2>
												<p class="overflow-clip"> Fizban's Treasury of...</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>R$155</h2>
												<p class="overflow-clip"> Ravenloft</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>R$213</h2>
												<p class="overflow-clip"> Strixhaven</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$132</h2>
												<p class="overflow-clip">Dungeon Tiles </p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery5.jpg" alt="" />
												<h2>$249</h2>
												<p class="overflow-clip">Curse of Strahd</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery6.jpg" alt="" />
												<h2>$297</h2>
												<p class="overflow-clip">Icewind Dale</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery7.jpg" alt="" />
												<h2>$234</h2>
												<p class="overflow-clip">Monster Manual</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery8.jpg" alt="" />
												<h2>$231</h2>
												<p class="overflow-clip">The Wild Beyond...</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>

							</div>
							
							
							<div class="tab-pane fade" id="tab3" >
								
							</div>
							
							
							<div class="tab-pane fade" id="tab4" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="tab5" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>				 -->
						
					
					<!--categorias-->
					
					<div class="features_items">
						<h2 id ="categorias-home" class="title text-center">Categorias</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center" id="categoryinfo">
											<a href="#"><img src="images/home/box/categoria1.png" alt="" /></a>
											
										</div>
										<!-- <div class="product-overlay">
											<div class="overlay-content">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
										</div> -->
								</div>
								
							</div>
						</div>

						
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center" id="categoryinfo">
											<a href="#"><img src="images/home/box/categoria2.png" alt="" /></a>
											
										</div>
									
								</div>
								
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center" id="categoryinfo">
											<a href="#"><img src="images/home/box/categoria3.png" alt="" /></a>
											
										</div>
										
								</div>
								
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center" id="categoryinfo">
											<a href="#"><img src="images/home/box/categoria4.png" alt="" /></a>
											
										</div>
										
								</div>
								
							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center" id="categoryinfo">
											<a href="#"><img src="images/home/box/categoria5.png" alt="" /></a>
											
										</div>
										
								</div>
								
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center" id="categoryinfo">
											<a href="#"><img src="images/home/box/categoria6.png" alt="" /></a>
											
										</div>
										
								</div>
								
							</div>
						</div>								
				</div>
			</div>
		</div>
		<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
	</section>
