<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div>
					<div class="carousel-inner">
						
							<div class="col-sm-6" id="banner-margin">
								<h1>Explore um novo mundo dentro da sua casa...</h1>
								<a href="inside"><button type="button" class="btn btn-default" id="indexbanner-bttn">Blog
									insideOUT</button></a>
							</div>

						

					</div>


				</div>

				<!-- <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div> -->

			</div>
		</div>
	</div>
</section>
<!--/slider-->
<!--category-products-->
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">

			</div>
			<div>

				<div class="col-sm-12">
					<!--features_items-->
					<div class="features_items">
						<h2 id="itens_destaque" class="title text-center" style="margin-top: 50px;">Itens em destaque
						</h2>
						<div style="margin-top: 45px;"></div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/box/box1.png" alt="" />

									</div>
									<!-- <div class="product-overlay">
											<div class="overlay-content">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
										</div> -->
								</div>

							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/box/box2.png" alt="" />

									</div>

								</div>

							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/box/box3.png" alt="" />

									</div>

								</div>

							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/box/box4.png" alt="" />

									</div>

								</div>

							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/box/box5.png" alt="" />

									</div>

								</div>

							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/box/box6.png" alt="" />

									</div>

								</div>

							</div>
						</div>

						<div class="col-sm-12">
							<div class="product-image-wrapper">
								<div>
									<div class="single-products">

									</div>
									<div id="container">
										<div class="productinfo text-center">
											<h2 style="font-weight: 300;">Conheça a <span
													style="font-weight:bold">Inside</span>, a nossa comunidade de
												cultura nerd</h2>
											<img src="images/home/box/bannerindex.png" alt="" style="height: 100px; min-width: 40px;" />
											<a href="inside"><button type="button" class="btn btn-default " id="goinside-bttn">Go
												inside</button></a>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>

					<div class="features_items">
						<h2 id="categorias-home" class="title text-center">Categorias</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center" id="categoryinfo">
										<a href="#"><img src="images/home/box/categoria1.png" alt="" /></a>

									</div>
									<!-- <div class="product-overlay">
											<div class="overlay-content">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
											</div>
										</div> -->
								</div>

							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center" id="categoryinfo">
										<a href="#"><img src="images/home/box/categoria2.png" alt="" /></a>

									</div>

								</div>

							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center" id="categoryinfo">
										<a href="#"><img src="images/home/box/categoria3.png" alt="" /></a>

									</div>

								</div>

							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center" id="categoryinfo">
										<a href="#"><img src="images/home/box/categoria4.png" alt="" /></a>

									</div>

								</div>

							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center" id="categoryinfo">
										<a href="#"><img src="images/home/box/categoria5.png" alt="" /></a>

									</div>

								</div>

							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center" id="categoryinfo">
										<a href="#"><img src="images/home/box/categoria6.png" alt="" /></a>

									</div>

								</div>

							</div>
						</div>


					</div>
				</div>
			</div>
			
		</div>
	</div>
	</div>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/price-range.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/main.js"></script>
</section>