    <section
      class="inside-hero container-fluid shadow align-items-center justify-content-between d-flex py-3 my-3 mx-auto w-95">
      <div class="mx-auto">
        <article class="lg:text-left">
          <h1>Faça parte da comunidade!
            Escreva artigos na <strong>inside</strong>.</h1>
          <!--             <div
              class="bg-c2 -mt-2 bg-cover h-48 block lg:hidden shadow-md w-full my-5"
            ></div> -->
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequatur aliquam voluptatibus perferendis autem eligendi
            voluptate quam id ex nemo, repellat, officia quibusdam soluta
            consectetur ut nam animi magni? Nobis, laborum?
          </p>
          <div class="d-flex gap-2">
            <button class="inside-button mr-2">Novo Artigo</button>
            <button class="border border-white">Cadastrar-se</button>
          </div>
        </article>
      </div>
      <div class="shadow"></div>
    </section>
    <section class="inside-sec3 container-fluid shadow align-items-center justify-content-between d-flex flex-column mx-auto">
        <div class="">
          <article class="text-center">
            <h2 class="mb-2">
                Está em busca de jogadores para formar uma mesa?
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequatur aliquam voluptatibus perferendis autem eligendi
              voluptate quam id ex nemo, repellat, officia quibusdam soluta
              consectetur ut nam animi magni? Nobis, laborum?
            </p>
          </article>
        </div>
        <div class="shadow">
          <!-- <img class="object-cover w-full" src="/img/inside-sec3.png" alt="Roda de Aventureiros" /> -->
        </div>
        <div class="my-2 d-flex gap-2">
            <button class="inside-button">
              Sou mestre
            </button>
            <button class="inside-button">
              Sou jogador
            </button>
        </div>
    </section>
    <section class="inside-sec4 container-fluid shadow align-items-center justify-content-between d-flex flex-column mx-auto">
        <div class="">
          <article class="text-center">
            <h2 class="mb-2">
                Divulgue seu trabalho conosco!
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequatur aliquam voluptatibus perferendis autem eligendi
              voluptate quam id ex nemo, repellat, officia quibusdam soluta
              consectetur ut nam animi magni? Nobis, laborum?
            </p>
          </article>
        </div>
        <div class="shadow">
          <!-- <img class="object-cover w-full" src="/img/inside-sec3.png" alt="Roda de Aventureiros" /> -->
        </div>
        <div class="my-2">
            <button class="inside-button">
              Divulgar minha obra
            </button>
        </div>
    </section>
    <section class="inside-sec5 container-fluid shadow align-items-center justify-content-between d-flex flex-column mx-auto">
        <div class="">
          <article class="text-center">
            <h2 class="mb-2">
              Conheça nossa loja especializada em produtos nerd.
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequatur aliquam voluptatibus perferendis autem eligendi
              voluptate quam id ex nemo, repellat, officia quibusdam soluta
              consectetur ut nam animi magni? Nobis, laborum?
            </p>
          </article>
        </div>
        <div class="shadow">
          <!-- <img class="object-cover w-full" src="/img/inside-sec3.png" alt="Roda de Aventureiros" /> -->
        </div>
        <div class="my-2">
            <button class="inside-button">
              Check it <strong>OUT</strong>
            </button>
        </div>
    </section>