<nav class="d-flex container-fluid w-100 my-3 py-2 px-20 bg-black">
  <div class="">
    TESTE Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic
    labore earum ab, veritatis laboriosam in tempora nobis rerum,
    perferendis maxime quam at commodi est harum sit, itaque vero sunt
    assumenda!
  </div>
</nav>
    <section class="cadastro-container">
      <div class="title">
        <h1>Já é cadastrado na InsideOUT?</h1>
        <h2>Entre com seu login.</h2>
        <h3>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias,
          reprehenderit optio magnam possimus alias sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem possimus consequatur ea, architecto et quia eaque quaerat voluptate error atque laborum? Ut laboriosam nostrum saepe voluptates molestias earum sunt soluta?
        
        <h3>
      </div>
      <div class="cadastro-form">
        <form>
          <input class="input-login" type="email" placeholder="E-mail" />
          <input class="input-login" type="password" placeholder="Senha" />
          <div class="checkbox">
            <label><input type="checkbox" /> Lembrar a senha</label>          
        </div>
        <p> <a href="">Esqueceu a sua senha?</a></p>
        
          <button class="button-entrar" type="submit">Entrar</button>
          
          <p>          
              Ao clicar em “Entrar”, você está concordando com os Termos de
              Uso.
          </p>
        </form>
      </div>
    </section>
  </body>
</html>
