<section
    class="login-sec container-fluid shadow align-items-center justify-content-between d-flex py-3 my-3 mx-auto w-95">
    <div class="mx-auto">
      <article class="">
        <h1>Já é cadastrado na insideOUT?
            Entre com seu login.</h1>
        <!--             <div
            class="bg-c2 -mt-2 bg-cover h-48 block lg:hidden shadow-md w-full my-5"
          ></div> -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequatur aliquam voluptatibus perferendis autem eligendi
          voluptate quam id ex nemo, repellat, officia quibusdam soluta
          consectetur ut nam animi magni? Nobis, laborum?
        </p>
        <div class="">
          <button class="primary-button mr-2">Cadastrar-se</button>
        </div>
      </article>
    </div>
    <div class="shadow">
      <form>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="E-mail" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <input type="password" placeholder="Senha" class="form-control" id="password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="lembrar-senha">
          <label class="form-check-label" for="lembrar-senha">Lembrar senha</label>
        </div>
        <button type="submit" class="primary-button">Entrar</button>
      </form>
      <hr>
      <div id="loginHelp" class="form-text">Ao clicar em “Entrar”, você está concordando com os Termos de Uso.</div>
    </div>
  </section>