	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Entrar na conta</h2>
						<form action="/login" method="post">
							<input type="email" name="email" placeholder="Email" />
							<input type="password" name="senha" placeholder="Senha"/>
							<span>
								<input type="checkbox" class="checkbox" id="lembrarSenha"> 
								Lembrar senha
							</span>
							<button type="submit" class="btn btn-default">Entrar</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OU</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Cadastre-se na InsideOUT!</h2>
						<form action="/cadastro" method="post">
							<input type="text" name="nome" placeholder="Nome"/>
							<input type="text" name="sexo" placeholder="Sexo"/>
							<input type="date" name="nascimento"/>
							<input type="text" name="endereco" placeholder="Endereço"/>
							<input type="email" name="email" placeholder="Email"/>
							<input type="password" name="senha" placeholder="Senha"/>
							<input type="password" placeholder="Confirmar Senha"/>
							<button type="submit" class="btn btn-default">Cadastrar</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	
