	<section id="advertisement">
		<div class="container">
			<img src="images/shop/advertisement.jpg" alt="" />
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Categorias</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#secrpg">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Roleplaying
										</a>
									</h4>
								</div>
								<div id="secrpg" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Dungeon and Dragons </a></li>
											<li><a href="">Pathfinder </a></li>
											<li><a href="">Tormenta 20 </a></li>
										
										
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Cardgames
										</a>
									</h4>
								</div>
								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Magic: The Gathering</a></li>
											<li><a href="">Outros</a></li>
										
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Boardgames
										</a>
									</h4>
								</div>
								<div id="womens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Galápagos</a></li>
											<li><a href="">Outros</a></li>
										
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Outros</a></h4>
								</div>
							</div>
							
						</div><!--/category-productsr-->
					
						
												
						<div class="shipping text-center"><!--shipping-->
							<img src="" alt="" />
						</div><!--/shipping-->
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Itens em destaque</h2>
						
						<% produtos.forEach(p => { %>
						<div class="col-sm-4">
							<div class="product2-image-wrapper">
								<div class="single-products">
									<div class="productinfo2 text-center">
										<img src= <%= p.img_1 %>   alt="" />
										<h2>R$ <%= parseFloat(p.preco).toFixed(2) %> </h2>
										<p> <%= p.nome %> </p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
									</div>
								</div>
							</div>
						</div>
						<% }) %>
						
						<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
					</div><!--features_items-->
				</div>
			</div>
		</div>
		<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
	</section>