     <section class="clean-block clean-product mb-5">
          <div class="basic-sec text-white shadow-lg block-content">
            <div class="product-info">
              <div class="row">
                <div class="col-md-6">
                  <div class="bg-dark shadow-lg gallery">
                    <div id="product-preview" class="vanilla-zoom">
                      <div class="zoomed-image"></div>
                      <div class="sidebar">
                        <img class="img-fluid d-block small-preview"
                        src="/img/image 3.png">
                        <img class="img-fluid d-block small-preview"
                        src="/img/image 3.png">
                        <img class="img-fluid d-block small-preview"
                        src="/img/image 3.png">
                        <img class="img-fluid d-block small-preview"
                        src="/img/image 3.png">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info">
                    <h3>Produto Exemplo</h3>
                    <div class="rating"><img src="/img/star.svg"><img src="/img/star.svg"><img src="/img/star.svg"><img
                        src="/img/star-half-empty.svg"><img src="/img/star-empty.svg">
                    </div>
                    <div class="price">
                      <h3>R$ 190,00</h3>
                    </div><button class="btn btn-primary" type="button"><i class="icon-basket"></i>Adicionar ao
                      Carrinho</button>
                    <div class="summary">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc,
                        pretium at augue at, convallis pellentesque ipsum. Vestibulum diam risus,
                        sagittis at fringilla at, pulvinar vel risus. Vestibulum dignissim eu nulla
                        eu imperdiet. Morbi mollis tellus a nunc vestibulum consequat. Quisque
                        tristique elit et nibh dapibus sodales. Nam sollicitudin a urna sed iaculis.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-info">
              <div>
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                  <li class="nav-item" role="presentation"><a class="nav-link active" role="tab"
                      data-bs-toggle="tab" id="description-tab" href="#description">Descrição</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab"
                      id="reviews-tab" href="#reviews">Comentários</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active description" role="tabpanel" id="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna,
                      dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum
                      dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="row">
                      <div class="col-md-5">
                        <figure class="figure"><img class="img-fluid figure-img" src="/img/fizban.png"></figure>
                      </div>
                      <div class="col-md-7">
                        <h4>Lorem Ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna,
                          dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet,
                          consectetur adipiscing elit.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-7 right">
                        <h4>Lorem Ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna,
                          dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet,
                          consectetur adipiscing elit.</p>
                      </div>
                      <div class="col-md-5">
                        <figure class="figure"><img class="img-fluid figure-img" src="/img/fizban.png"></figure>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" role="tabpanel" id="reviews">
                    <div class="reviews">
                      <div class="review-item">
                        <div class="rating"><img src="/img/star.svg"><img src="/img/star.svg"><img
                            src="/img/star.svg"><img src="/img/star.svg"><img src="/img/star-empty.svg">
                        </div>
                        <h4>Legal</h4><span class="text-muted"><a href="#">John
                            Smith</a>, 27 Mar 2020</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue
                          nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum
                          dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </div>
                    <div class="reviews">
                      <div class="review-item">
                        <div class="rating"><img src="/img/star.svg"><img src="/img/star.svg"><img
                            src="/img/star.svg"><img src="/img/star.svg"><img src="/img/star-empty.svg">
                        </div>
                        <h4>Não gostei.</h4><span class="text-muted"><a href="#">John
                            Smith</a>, 19 Jan 2021</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue
                          nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum
                          dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </div>
                    <div class="reviews">
                      <div class="review-item">
                        <div class="rating"><img src="/img/star.svg"><img src="/img/star.svg"><img
                            src="/img/star.svg"><img src="/img/star.svg"><img src="/img/star-empty.svg">
                        </div>
                        <h4>Muito bom!</h4><span class="text-muted"><a href="#">John
                            Smith</a>, 15 Abr 2022</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue
                          nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum
                          dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clean-related-items">
              <h3>Relacionados</h3>
              <div class="items">
                <div class="row justify-content-center">
                  <div class="col-sm-6 col-lg-4">
                    <div class="clean-related-item">
                      <div class="image"><a href="#"><img class="img-fluid rounded d-block mx-auto"
                            src="/img/mythicody.png"></a></div>
                      <div class="related-name"><a href="#">Produto I</a>
                        <div class="rating"><img src="/img/star.svg"><img src="/img/star.svg"><img
                            src="/img/star.svg"><img src="/img/star-half-empty.svg"><img src="/img/star-empty.svg">
                        </div>
                        <h4>R$300</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="clean-related-item">
                      <div class="image"><a href="#"><img class="img-fluid rounded d-block mx-auto"
                            src="/img/mythicody.png"></a></div>
                      <div class="related-name"><a href="#">Produto II</a>
                        <div class="rating"><img src="/img/star.svg"><img src="/img/star.svg"><img
                            src="/img/star.svg"><img src="/img/star-half-empty.svg"><img src="/img/star-empty.svg">
                        </div>
                        <h4>R$300</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="clean-related-item">
                      <div class="image"><a href="#"><img class="img-fluid rounded d-block mx-auto"
                            src="/img/mythicody.png"></a></div>
                      <div class="related-name"><a href="#">Produto III</a>
                        <div class="rating"><img src="/img/star.svg"><img src="/img/star.svg"><img
                            src="/img/star.svg"><img src="/img/star-half-empty.svg"><img src="/img/star-empty.svg">
                        </div>
                        <h4>R$300</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="/js/zoom-img.js"></script>