<nav class="d-flex container-fluid w-100 my-3 py-2 px-20 bg-black">
  <div class="">
    TESTE Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic
    labore earum ab, veritatis laboriosam in tempora nobis rerum,
    perferendis maxime quam at commodi est harum sit, itaque vero sunt
    assumenda!
  </div>
</nav>
    </header>
    <main id="main"> 

    <!-- DESCRIÇÃO DO PRODUTO -->

    <section class=" container-bg container-fluid shadow align-items-center justify-content-between py-3 my-3 mx-auto w-95">
      
        <div class="row justify-content-around">
          <div  class="col-md-5 text-center text-md-start">
            <h1 class="">
              <div class="display-5 pb-3 text-light">Descrição do produto</div>
              <div class="fs-4 py-1 text-light">
                SOME SECRETS ARE WORTH DYING FOR
              </div>
              <div class="display-6 fs-6 py-1 text-light">
                Feel the cold touch of death in this adventure for the world’s
                greatest roleplaying game.
              </div>
            </h1>
            <p class="my-4 text-light fs-6"><small>
              Beneath the unyielding night sky, you stand before a towering
              glacier and recite an ancient rhyme, causing a crack to form in
              the great wall of ice. Beyond this yawning fissure, the Caves of
              Hunger await. And past this icy dungeon is a secret so old and
              terrifying that few dare speak of it. The mad wizards of the
              Arcane Brotherhood long to possess that which the god of winter’s
              wrath has so coldly preserved—as do you! What fantastic secrets
              and treasures are entombed in the sunless heart of the glacier,
              and what will their discovery mean for the denizens of Icewind
              Dale?
            </p></small>
            <a href="#pricing" class="primary-button btn btn-outline-light btn-lg text-center"
              >Reviews and More</a
            >
          </div>
          

          <!-- CARD DO PRODUTO -->

          <div class="col-8 col-lg-4 col-xl-3 mt-3">
            <div class="card border-3 bg-dark shadow">
              <div class=" card-bg card-body text-center py-4">
                <h4 class="h4 cards-title text-light">
                  Livro Icewind Dale: Rime of the Frostmaiden
                </h4>
                <p class="card-subtitle text-muted pt-3">D&D Adventure Book</p>
                <p class="display-5 my-4 text-warning fw-bold">R$ 90,00</p>
                <p class="card-text mx-5 text-warning d-none d-lg-block">
                  À vista no PIX com até <strong>10% OFF</strong>
                </p>
                <a href="#" class=" btn btn-outline-light btn-lg mt-3"
                  >BUY NOW</a
                >

                <a href="#" class="btn btn-outline-light btn-md border-0">
                  <img src="img/shopping-cart (1).png" alt="" id="carticon"
                /></a>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </section>
    <section>
      <div class="container-bg container-fluid shadow align-items-center justify-content-between py-3 my-3 mx-auto w-95">
        <div class="row justify-content-center align-items-center text-center">
          <h1>
            <div class="display-5 pb-3 text-light">Avaliações</div>

            <div class="display-6 fs-6 py-1 text-muted">
              Feel the cold touch of <strong>death</strong> in this adventure.
            </div>
          </h1>
        </div>    
        
        <div class="fs-3 text-muted text-center">
          <small
            >Icewind Dale | Editor: Wizards of the Coast | Language: English - 319
            pages
        </div>   
        
        <!-- REVIEWS -->
    <section class="container-bg container-fluid shadow align-items-center justify-content-between py-3 my-3 mx-auto w-95">
    <div class="testimonials-section">
      <div class="container">
        <ul>
          <li>
            <img src="/img/review-1.jpg" alt="person" />

            <blockquote>
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              reiciendis vero tempora similique ad laboriosam culpa nobis aut
              optio numquam."
            </blockquote>
            <cite> Goku</cite>
          </li>
          <li>
            <img src="/img/review-1.jpg" alt="person" />

            <blockquote>
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              reiciendis vero tempora similique ad laboriosam culpa nobis aut
              optio numquam."
            </blockquote>
            <cite> Goku</cite>
          </li>
          <li>
            <img src="/img/review-1" alt="person" />

            <blockquote>
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              reiciendis vero tempora similique ad laboriosam culpa nobis aut
              optio numquam."
            </blockquote>
            <cite> Goku</cite>
          </li>
        </ul>
      </div>
    </div>
    </section>

    <section >

      <!-- PRODUTOS SIMILARES -->
      
      <section class="container-bg container-fluid shadow align-items-center justify-content-between py-3 my-3 mx-auto w-95">
        
        <div class="container ">
          <div class="display-5 text-light text-center">
            <p>Produtos Similares</p>
          </div>
          <div class="row g-2">
            <div class="col-6 col-xl-3 col-lg-3">
              <a href="#"
                ><div class="card border-1 border-light">
                  <img
                    src="/img/similar1.png"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title text-muted">Dark Ally</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-xl-3 col-lg-3">
              <a href="#">
                <div class="card border-1 border-light">
                  <img
                    src="/img/similar2.jpeg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title text-muted">Idle Champ</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-xl-3 col-lg-3">
              <a href="#">               
              </a>
            </div>
            <div class="col-6 col-xl-3 col-lg-3">
              <a href="#">               
              </a>
            </div>  

              <div class="col-6 col-xl-3 col-lg-3">
                <a href="#">
                  <div class="card border-1 border-light">
                    <img
                    src="/img/similar3.jpeg"
                    class="card-img-top"
                    alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title text-muted">Neverwinter</h5>
                    </div>
                  </div>
                </a>
              </div>
  
            <div class="col-6 col-xl-3 col-lg-3">
              <a href="#">
                <div class="card border-1 border-light">
                  <img
                    src="/img/similar4.jpeg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title text-muted">RPG Dices</h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>     
  </body>
</html>
