<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/backbone.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontes: Roboto e Montserrat -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@100;300;400;500;700&display=swap");
    </style>
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <title>insideOUT</title>
    </head>
    <body class="">
        <%- include('../partials/navbar-inside.ejs') %>
        <main class="container">
        <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
        <script type="module" src="/js/main.js"></script>
    </body>
</html>