// IMPORT THE COMPONENTS 
@use 'components/buttons';
@use 'components/typography';


// OUT-RELATED SECTIONS
@use 'sections/main-hero';
@use 'sections/main-sec2';
@use 'sections/main-categories';
@use 'sections/main-offers';
// INSIDE-RELATED SECTIONS
@use 'sections/inside-hero';
@use 'sections/inside-sec3';
@use 'sections/inside-sec4';
@use 'sections/inside-sec5';
// LOGIN PAGE
@use 'sections/login';
// PRODUCT PAGE
@use 'sections/product';

$primary: #84C9FB;
$primary-inside: #FF5858;


button {
    font-family: Montserrat, sans-serif;
    border-radius: 0.5rem; /* 8px */
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
    padding-left: 0.75rem; /* 12px */
    padding-right: 0.75rem; /* 12px */
    background: none;
    color: white;
  }

section {
    background-color: rgb(39, 40, 43);
    background-color: rgba(255, 255, 255, 0.05);
}

.basic-sec {
    background-color: rgb(39, 40, 43) !important;
    background-color: rgba(255, 255, 255, 0.05) !important;
}

section h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 0rem;
}

