.img-artigo--gambiarra {
    max-height: 500px;
}

.carousel-inner>div>a>img {
    height: 100px;
    width: 50px;
}

.invisible-field {
    display: none;
}

.texto-preto {
    text-shadow: 2px 2px black;
}